<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/uet-icon.png" width="150px" class="user-avatar"/>
            <h1>UET rating movies</h1>
            <form  (ngSubmit)="processLogin(data)" #loginForm="ngForm">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" ng-model="name" class="form-control input-underline input-lg"  [(ngModel)]="data.username" name="username" required
                               placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" [(ngModel)]="data.password" name="password" required
                               placeholder="Password">
                    </div>
                </div>
                <button class="btn rounded-btn" type="submit" > Đăng nhập </button>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Đăng ký </a>
                <!--<google-signin></google-signin>-->
                <!--<facebook-signin></facebook-signin>-->
            </form>
        </div>
    </div>
</div>
