<div class="container">
    <div class="col-md-9 pull-left" style="padding: 0 0 15px 0; background-color: #f8f9fa;">


        <script>
            if (typeof uet == 'function') {
                uet("af");
            }
        </script>


        <a name="slot_center-1"></a>
        <div class="article">


            <script type="text/javascript">if (typeof uet === 'function') {
                uet('bb', 'NinjaWidget', {wb: 1});
            }</script>


            <span class="ab_widget">



    <div class="ab_ninja">
<span class="widget_header"> <span class="oneline"> <h3>Browse Popular Genres</h3> </span> </span> <div
        class="widget_content no_inline_blurb"> <div class="widget_nested"> <div class="ninja_image_pack"> <div
        class="ninja_left"> <div class="ninja_image first_image" style="width:31.952%;height:auto;"> <div
        style="width:100%;height:auto;margin:0 auto;"> <div class="widget_image"> <div class="image"> <a
        href="https://www.imdb.com/search/title?genres=comedy&amp;explore=title_type,genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=75c37eae-37a7-4027-a7ca-3fd76067dd90&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-1&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_pr1_i_1"> <img
        class="pri_image" title="Comedy" alt="Comedy"
        src="https://m.media-amazon.com/images/G/01/IMDb/genres/Comedy._CB1513316167_SX233_CR0,0,233,131_AL_.jpg"> </a> </div> </div> </div> </div><div
        class="ninja_image ninja_image_relative_padding widget_padding" style="width:2%;"></div><div class="ninja_image"
                                                                                                     style="width:31.952%;height:auto;"> <div
        style="width:100%;height:auto;margin:0 auto;"> <div class="widget_image"> <div class="image"> <a
        href="https://www.imdb.com/search/title?genres=sci-fi&amp;explore=title_type,genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=75c37eae-37a7-4027-a7ca-3fd76067dd90&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-1&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_pr1_i_2"> <img
        class="pri_image" title="Sci-Fi" alt="Sci-Fi"
        src="https://m.media-amazon.com/images/G/01/IMDb/genres/Sci-Fi._CB1513316168_SX233_CR0,0,233,131_AL_.jpg"> </a> </div> </div> </div> </div><div
        class="ninja_image ninja_image_relative_padding widget_padding" style="width:2%;"></div><div
        class="ninja_image last_image" style="width:31.952%;height:auto;"> <div
        style="width:100%;height:auto;margin:0 auto;"> <div class="widget_image"> <div class="image"> <a
        href="https://www.imdb.com/search/title?genres=horror&amp;explore=title_type,genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=75c37eae-37a7-4027-a7ca-3fd76067dd90&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-1&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_pr1_i_3"> <img
        class="pri_image" title="Horror" alt="Horror"
        src="https://m.media-amazon.com/images/G/01/IMDb/genres/Horror._CB1513316168_SX233_CR0,0,233,131_AL_.jpg"> </a> </div> </div> </div> </div> </div> </div> </div> </div>    </div>



        </span>


            <script type="text/javascript">
                if (typeof uex === 'function') {
                    uex('ld', 'NinjaWidget', {wb: 1});
                }
            </script>


        </div>


        <a name="slot_center-2"></a>
        <div class="article">


            <script type="text/javascript">if (typeof uet === 'function') {
                uet('bb', 'NinjaWidget', {wb: 1});
            }</script>


            <span class="ab_widget">



    <div class="ab_ninja">
<div class="widget_content no_inline_blurb"> <div class="widget_nested"> <div class="ninja_image_pack"> <div
    class="ninja_left"> <div class="ninja_image first_image" style="width:31.952%;height:auto;"> <div
    style="width:100%;height:auto;margin:0 auto;"> <div class="widget_image"> <div class="image"> <a
    href="https://www.imdb.com/search/title?genres=romance&amp;explore=title_type,genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=e0da8c98-35e8-4ebd-8e86-e7d39c92730c&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-2&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_pr2_i_1"> <img
    class="pri_image" title="Romance" alt="Romance"
    src="https://m.media-amazon.com/images/G/01/IMDb/genres/Romance._CB1513316168_SX233_CR0,0,233,131_AL_.jpg"> </a> </div> </div> </div> </div><div
    class="ninja_image ninja_image_relative_padding widget_padding" style="width:2%;"></div><div class="ninja_image"
                                                                                                 style="width:31.952%;height:auto;"> <div
    style="width:100%;height:auto;margin:0 auto;"> <div class="widget_image"> <div class="image"> <a
    href="https://www.imdb.com/search/title?genres=action&amp;explore=title_type,genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=e0da8c98-35e8-4ebd-8e86-e7d39c92730c&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-2&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_pr2_i_2"> <img
    class="pri_image" title="Action" alt="Action"
    src="https://m.media-amazon.com/images/G/01/IMDb/genres/Action._CB1513316166_SX233_CR0,0,233,131_AL_.jpg"> </a> </div> </div> </div> </div><div
    class="ninja_image ninja_image_relative_padding widget_padding" style="width:2%;"></div><div
    class="ninja_image last_image" style="width:31.952%;height:auto;"> <div
    style="width:100%;height:auto;margin:0 auto;"> <div class="widget_image"> <div class="image"> <a
    href="https://www.imdb.com/search/title?genres=thriller&amp;explore=title_type,genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=e0da8c98-35e8-4ebd-8e86-e7d39c92730c&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-2&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_pr2_i_3"> <img
    class="pri_image" title="Thriller" alt="Thriller"
    src="https://m.media-amazon.com/images/G/01/IMDb/genres/Thriller._CB1513316169_SX233_CR0,0,233,131_AL_.jpg"> </a> </div> </div> </div> </div> </div> </div> </div> </div>    </div>



        </span>


            <script type="text/javascript">
                if (typeof uex === 'function') {
                    uex('ld', 'NinjaWidget', {wb: 1});
                }
            </script>


        </div>


        <a name="slot_center-3"></a>
        <div class="article">


            <script type="text/javascript">if (typeof uet === 'function') {
                uet('bb', 'NinjaWidget', {wb: 1});
            }</script>


            <span class="ab_widget">



    <div class="ab_ninja">
<div class="widget_content no_inline_blurb"> <div class="widget_nested"> <div class="ninja_image_pack"> <div
    class="ninja_left"> <div class="ninja_image first_image" style="width:31.952%;height:auto;"> <div
    style="width:100%;height:auto;margin:0 auto;"> <div class="widget_image"> <div class="image"> <a
    href="https://www.imdb.com/search/title?genres=drama&amp;explore=title_type,genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=f1cf7b98-03fb-4a83-95f3-d833fdba0471&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-3&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_pr3_i_1"> <img
    class="pri_image" title="Drama" alt="Drama"
    src="https://m.media-amazon.com/images/G/01/IMDb/genres/Drama._CB1513316168_SX233_CR0,0,233,131_AL_.jpg"> </a> </div> </div> </div> </div><div
    class="ninja_image ninja_image_relative_padding widget_padding" style="width:2%;"></div><div class="ninja_image"
                                                                                                 style="width:31.952%;height:auto;"> <div
    style="width:100%;height:auto;margin:0 auto;"> <div class="widget_image"> <div class="image"> <a
    href="https://www.imdb.com/search/title?genres=mystery&amp;explore=title_type,genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=f1cf7b98-03fb-4a83-95f3-d833fdba0471&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-3&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_pr3_i_2"> <img
    class="pri_image" title="Mystery" alt="Mystery"
    src="https://m.media-amazon.com/images/G/01/IMDb/genres/Mystery._CB1513316168_SX233_CR0,0,233,131_AL_.jpg"> </a> </div> </div> </div> </div><div
    class="ninja_image ninja_image_relative_padding widget_padding" style="width:2%;"></div><div
    class="ninja_image last_image" style="width:31.952%;height:auto;"> <div
    style="width:100%;height:auto;margin:0 auto;"> <div class="widget_image"> <div class="image"> <a
    href="https://www.imdb.com/search/title?genres=crime&amp;explore=title_type,genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=f1cf7b98-03fb-4a83-95f3-d833fdba0471&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-3&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_pr3_i_3"> <img
    class="pri_image" title="Crime" alt="Crime"
    src="https://m.media-amazon.com/images/G/01/IMDb/genres/Crime._CB1513316167_SX233_CR0,0,233,131_AL_.jpg"> </a> </div> </div> </div> </div> </div> </div> </div> </div>    </div>



        </span>


            <script type="text/javascript">
                if (typeof uex === 'function') {
                    uex('ld', 'NinjaWidget', {wb: 1});
                }
            </script>


        </div>


        <a name="slot_center-4"></a>
        <div class="article">


            <script type="text/javascript">if (typeof uet === 'function') {
                uet('bb', 'NinjaWidget', {wb: 1});
            }</script>


            <span class="ab_widget">



    <div class="ab_ninja">
<div class="widget_content no_inline_blurb"> <div class="widget_nested"> <div class="ninja_image_pack"> <div
    class="ninja_left"> <div class="ninja_image first_image" style="width:31.952%;height:auto;"> <div
    style="width:100%;height:auto;margin:0 auto;"> <div class="widget_image"> <div class="image"> <a
    href="https://www.imdb.com/search/title?genres=animation&amp;explore=title_type,genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=fd0c0dd4-de47-4168-baa8-239e02fd9ee7&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-4&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_pr4_i_1"> <img
    class="pri_image" title="Animation" alt="Animation"
    src="https://m.media-amazon.com/images/G/01/IMDb/genres/Animation._CB1513316167_SX233_CR0,0,233,131_AL_.jpg"> </a> </div> </div> </div> </div><div
    class="ninja_image ninja_image_relative_padding widget_padding" style="width:2%;"></div><div class="ninja_image"
                                                                                                 style="width:31.952%;height:auto;"> <div
    style="width:100%;height:auto;margin:0 auto;"> <div class="widget_image"> <div class="image"> <a
    href="https://www.imdb.com/search/title?genres=adventure&amp;explore=title_type,genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=fd0c0dd4-de47-4168-baa8-239e02fd9ee7&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-4&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_pr4_i_2"> <img
    class="pri_image" title="Adventure" alt="Adventure"
    src="https://m.media-amazon.com/images/G/01/IMDb/genres/Adventure._CB1513316166_SX233_CR0,0,233,131_AL_.jpg"> </a> </div> </div> </div> </div><div
    class="ninja_image ninja_image_relative_padding widget_padding" style="width:2%;"></div><div
    class="ninja_image last_image" style="width:31.952%;height:auto;"> <div
    style="width:100%;height:auto;margin:0 auto;"> <div class="widget_image"> <div class="image"> <a
    href="https://www.imdb.com/search/title?genres=fantasy&amp;explore=title_type,genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=fd0c0dd4-de47-4168-baa8-239e02fd9ee7&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-4&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_pr4_i_3"> <img
    class="pri_image" title="Fantasy" alt="Fantasy"
    src="https://m.media-amazon.com/images/G/01/IMDb/genres/Fantasy._CB1513316168_SX233_CR0,0,233,131_AL_.jpg"> </a> </div> </div> </div> </div> </div> </div> </div> </div>    </div>



        </span>


            <script type="text/javascript">
                if (typeof uex === 'function') {
                    uex('ld', 'NinjaWidget', {wb: 1});
                }
            </script>


        </div>


        <a name="slot_center-5"></a>
        <div class="article">


            <script type="text/javascript">if (typeof uet === 'function') {
                uet('bb', 'NinjaWidget', {wb: 1});
            }</script>


            <span class="ab_widget">



    <div class="ab_ninja">
<div class="widget_content no_inline_blurb"> <div class="widget_nested"> <div class="ninja_image_pack"> <div
    class="ninja_left"> <div class="ninja_image first_image" style="width:31.952%;height:auto;"> <div
    style="width:100%;height:auto;margin:0 auto;"> <div class="widget_image"> <div class="image"> <a
    href="https://www.imdb.com/search/title?genres=comedy,romance&amp;explore=title_type,genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=15aedf0d-e467-4a1a-922a-e0cbd7299e84&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-5&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_pr5_i_1"> <img
    class="pri_image" title="Comedy-Romance" alt="Comedy-Romance"
    src="https://m.media-amazon.com/images/G/01/IMDb/genres/Comedy-Romance._CB1513316167_SX233_CR0,0,233,131_AL_.jpg"> </a> </div> </div> </div> </div><div
    class="ninja_image ninja_image_relative_padding widget_padding" style="width:2%;"></div><div class="ninja_image"
                                                                                                 style="width:31.952%;height:auto;"> <div
    style="width:100%;height:auto;margin:0 auto;"> <div class="widget_image"> <div class="image"> <a
    href="https://www.imdb.com/search/title?genres=action,comedy&amp;explore=title_type,genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=15aedf0d-e467-4a1a-922a-e0cbd7299e84&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-5&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_pr5_i_2"> <img
    class="pri_image" title="Action-Comedy" alt="Action-Comedy"
    src="https://m.media-amazon.com/images/G/01/IMDb/genres/Action-Comedy._CB1513316166_SX233_CR0,0,233,131_AL_.jpg"> </a> </div> </div> </div> </div><div
    class="ninja_image ninja_image_relative_padding widget_padding" style="width:2%;"></div><div
    class="ninja_image last_image" style="width:31.952%;height:auto;"> <div
    style="width:100%;height:auto;margin:0 auto;"> <div class="widget_image"> <div class="image"> <a
    href="https://www.imdb.com/search/title?keywords=superhero&amp;explore=title_type,genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=15aedf0d-e467-4a1a-922a-e0cbd7299e84&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-5&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_pr5_i_3"> <img
    class="pri_image" title="Superhero" alt="Superhero"
    src="https://m.media-amazon.com/images/G/01/IMDb/genres/Superhero._CB1513316168_SX233_CR0,0,233,131_AL_.jpg"> </a> </div> </div> </div> </div> </div> </div> </div> </div>    </div>



        </span>


            <script type="text/javascript">
                if (typeof uex === 'function') {
                    uex('ld', 'NinjaWidget', {wb: 1});
                }
            </script>


        </div>


        <a name="slot_center-6"></a>
        <div class="article">


            <script type="text/javascript">if (typeof uet === 'function') {
                uet('bb', 'LinksWidget', {wb: 1});
            }</script>


            <span class="ab_widget">
            <div class="ab_links">
<span class="widget_header">
    <span class="oneline"> <h3>Popular Movies by Genre</h3> </span> </span>
                <div class="widget_content no_inline_blurb"> <div class="widget_nested">
                    <div class="full-table">
                    <div class="table-cell"> <div class="full-table"> <div class="table-row"> <div
                        class="table-cell primary"> <a
                        href="/search/title?genres=action&amp;title_type=feature&amp;explore=genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=17d3863a-3e07-4c9b-a09a-f643edc8e914&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-6&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_mvpop_1"> Action </a> </div> </div>
                        <div
                            class="table-row"> <div class="table-cell primary"> <a
                            href="/search/title?genres=adventure&amp;title_type=feature&amp;explore=genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=17d3863a-3e07-4c9b-a09a-f643edc8e914&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-6&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_mvpop_2"> Adventure </a> </div> </div> <div
                            class="table-row"> <div class="table-cell primary"> <a
                            href="/search/title?genres=animation&amp;title_type=feature&amp;explore=genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=17d3863a-3e07-4c9b-a09a-f643edc8e914&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-6&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_mvpop_3"> Animation </a> </div> </div> <div
                            class="table-row"> <div class="table-cell primary"> <a
                            href="/search/title?genres=biography&amp;title_type=feature&amp;explore=genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=17d3863a-3e07-4c9b-a09a-f643edc8e914&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-6&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_mvpop_4"> Biography </a> </div> </div> <div
                            class="table-row"> <div class="table-cell primary"> <a
                            href="/search/title?genres=comedy&amp;title_type=feature&amp;explore=genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=17d3863a-3e07-4c9b-a09a-f643edc8e914&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-6&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_mvpop_5"> Comedy </a> </div> </div> <div
                            class="table-row"> <div class="table-cell primary"> <a
                            href="/search/title?genres=crime&amp;title_type=feature&amp;explore=genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=17d3863a-3e07-4c9b-a09a-f643edc8e914&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-6&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_mvpop_6"> Crime </a> </div> </div> </div> </div>
                    <div
                        class="table-cell"> <div class="full-table"> <div class="table-row"> <div
                        class="table-cell primary"> <a
                        href="/search/title?title_type=documentary&amp;explore=genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=17d3863a-3e07-4c9b-a09a-f643edc8e914&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-6&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_mvpop_7"> Documentary </a> </div> </div> <div
                        class="table-row"> <div class="table-cell primary"> <a
                        href="/search/title?genres=drama&amp;title_type=feature&amp;explore=genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=17d3863a-3e07-4c9b-a09a-f643edc8e914&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-6&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_mvpop_8"> Drama </a> </div> </div> <div
                        class="table-row"> <div class="table-cell primary"> <a
                        href="/search/title?genres=family&amp;title_type=feature&amp;explore=genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=17d3863a-3e07-4c9b-a09a-f643edc8e914&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-6&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_mvpop_9"> Family </a> </div> </div> <div
                        class="table-row"> <div class="table-cell primary"> <a
                        href="/search/title?genres=fantasy&amp;title_type=feature&amp;explore=genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=17d3863a-3e07-4c9b-a09a-f643edc8e914&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-6&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_mvpop_10"> Fantasy </a> </div> </div> <div
                        class="table-row"> <div class="table-cell primary"> <a
                        href="/search/title?genres=film-noir&amp;title_type=feature&amp;explore=genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=17d3863a-3e07-4c9b-a09a-f643edc8e914&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-6&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_mvpop_11"> Film Noir </a> </div> </div> <div
                        class="table-row"> <div class="table-cell primary"> <a
                        href="/search/title?genres=history&amp;title_type=feature&amp;explore=genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=17d3863a-3e07-4c9b-a09a-f643edc8e914&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-6&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_mvpop_12"> History </a> </div> </div> </div> </div> <div
                    class="table-cell"> <div class="full-table"> <div class="table-row"> <div
                    class="table-cell primary"> <a
                    href="/search/title?genres=horror&amp;title_type=feature&amp;explore=genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=17d3863a-3e07-4c9b-a09a-f643edc8e914&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-6&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_mvpop_13"> Horror </a> </div> </div> <div
                    class="table-row"> <div class="table-cell primary"> <a
                    href="/search/title?genres=music&amp;title_type=feature&amp;explore=genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=17d3863a-3e07-4c9b-a09a-f643edc8e914&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-6&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_mvpop_14"> Music </a> </div> </div> <div
                    class="table-row"> <div class="table-cell primary"> <a
                    href="/search/title?genres=musical&amp;title_type=feature&amp;explore=genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=17d3863a-3e07-4c9b-a09a-f643edc8e914&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-6&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_mvpop_15"> Musical </a> </div> </div> <div
                    class="table-row"> <div class="table-cell primary"> <a
                    href="/search/title?genres=mystery&amp;title_type=feature&amp;explore=genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=17d3863a-3e07-4c9b-a09a-f643edc8e914&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-6&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_mvpop_16"> Mystery </a> </div> </div> <div
                    class="table-row"> <div class="table-cell primary"> <a
                    href="/search/title?genres=romance&amp;title_type=feature&amp;explore=genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=17d3863a-3e07-4c9b-a09a-f643edc8e914&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-6&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_mvpop_17"> Romance </a> </div> </div> <div
                    class="table-row"> <div class="table-cell primary"> <a
                    href="/search/title?genres=sci-fi&amp;title_type=feature&amp;explore=genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=17d3863a-3e07-4c9b-a09a-f643edc8e914&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-6&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_mvpop_18"> Sci-Fi </a> </div> </div> </div> </div> <div
                    class="table-cell"> <div class="full-table"> <div class="table-row"> <div
                    class="table-cell primary"> <a
                    href="/search/title?title_type=short&amp;explore=genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=17d3863a-3e07-4c9b-a09a-f643edc8e914&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-6&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_mvpop_19"> Short </a> </div> </div> <div
                    class="table-row"> <div class="table-cell primary"> <a
                    href="/search/title?genres=sport&amp;title_type=feature&amp;explore=genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=17d3863a-3e07-4c9b-a09a-f643edc8e914&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-6&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_mvpop_20"> Sport </a> </div> </div> <div
                    class="table-row"> <div class="table-cell primary"> <a
                    href="/search/title?keywords=superhero&amp;title_type=feature&amp;explore=genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=17d3863a-3e07-4c9b-a09a-f643edc8e914&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-6&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_mvpop_21"> Superhero </a> </div> </div> <div
                    class="table-row"> <div class="table-cell primary"> <a
                    href="/search/title?genres=thriller&amp;title_type=feature&amp;explore=genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=17d3863a-3e07-4c9b-a09a-f643edc8e914&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-6&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_mvpop_22"> Thriller </a> </div> </div> <div
                    class="table-row"> <div class="table-cell primary"> <a
                    href="/search/title?genres=war&amp;title_type=feature&amp;explore=genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=17d3863a-3e07-4c9b-a09a-f643edc8e914&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-6&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_mvpop_23"> War </a> </div> </div> <div
                    class="table-row"> <div class="table-cell primary"> <a
                    href="/search/title?genres=western&amp;title_type=feature&amp;explore=genres&amp;pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=17d3863a-3e07-4c9b-a09a-f643edc8e914&amp;pf_rd_r=NF0QSG0WNPWP41TTXDQM&amp;pf_rd_s=center-6&amp;pf_rd_t=15051&amp;pf_rd_i=genre&amp;ref_=ft_gnr_mvpop_24"> Western </a> </div> </div> </div> </div> </div>
                </div>
                </div>
            </div>


        </span>

        </div>

    </div>
    <div class="col-md-3 pull-right" style="height: 700px;">
        <app-sidebar></app-sidebar>
    </div>
</div>
