.main-container {
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    overflow: hidden;

}
@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}

body {background-color: rgba(12,12,12,.81);}


.footer {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #2b2b2b;

}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
}
