<div class="container" xmlns="http://www.w3.org/1999/html">
    <section>
        <div class="col-md-9 pull-left" style="padding: 0 0 15px 0; background-color: #f8f9fa;">
            <div class="vital">
                <div class="title_block">
                    <div class="title_bar_wrapper">

                        <div class="ratings_wrapper">
                            <div class="imdbRating" itemtype="http://schema.org/AggregateRating" itemscope=""
                                 itemprop="aggregateRating">
                                <div class="ratingValue">
                                    <strong title="6.8 based on 35,401 user ratings"><span itemprop="ratingValue">{{movieDetails.averageRating}}</span></strong><span
                                    class="grey">/</span><span class="grey" itemprop="bestRating">10</span></div>
                                <a href="/title/tt1365519/ratings?ref_=tt_ov_rt"><span class="small"
                                                                                       itemprop="ratingCount">{{movieDetails.numVotes}}</span></a>
                            </div>

                            <div id="star-rating-widget" class="star-rating-widget" data-rating="0"
                                 data-user="" data-auth="" data-tracking-tag="title-maindetails"
                                 data-rating-share-enabled="false"
                                 data-rating-next-share-time="2000-01-01T00:00:00.000Z" data-rating-share-treatment="C">
                                <div class="star-rating-button" data-reactid=".2">
                                    <button data-reactid=".2.0"><span class="star-rating-star no-rating"
                                                                      data-reactid=".2.0.0"></span><span
                                        class="star-rating-text" data-reactid=".2.0.1">Rate This</span></button>
                                </div>
                            </div>
                        </div>
                        <div class="titleBar">
                            <div class="primary_ribbon">
                                <div class="ribbonize" data-tconst="tt1365519" data-caller-name="title"
                                     style="position: relative;">
                                    <div class="wl-ribbon standalone not-inWL" title="Click to add to watchlist"></div>
                                </div>
                                <div class="wlb_dropdown_btn btn2_wrapper btn2_active wlb_dropdown"
                                     data-tconst="tt1365519"
                                     data-size="large" data-caller-name="title" data-type="primary"
                                     data-initialized="1">
                                    <div class="btn2_alert" style="display:none"></div>
                                    <a class="btn2 large primary btn2_glyph_on" onclick=""><span class="btn2_glyph"><div
                                        class="btn2_down"></div></span><span class="btn2_text"></span></a></div>
                                <div class="wlb_dropdown_list" style="display:none"></div>
                            </div>

                            <div class="title_wrapper">
                                <h1 itemprop="name" class="">{{movieDetails.primaryTitle}}&nbsp;<span id="titleYear">(<a
                                    href="/year/2018/?ref_=tt_ov_inf">{{movieDetails.startYear}}</a>)</span></h1>
                                <div class="subtext">
                                    <meta itemprop="contentRating" content="PG-13">
                                    PG-13
                                    <span class="ghost">|</span>
                                    <time itemprop="duration" datetime="PT118M">
                                        {{movieDetails.runtimeMinutes}} minutes
                                    </time>
                                    <span class="ghost">|</span>
                                    <a *ngFor="let genre of genres"><span class="itemprop">{{genre}} </span></a>
                                    <span class="ghost">|</span>
                                    <a [routerLink]="['/layout/movie-type']" title="See more release dates">({{movieDetails.region}})
                                        <meta itemprop="datePublished" content="2018-03-16">
                                    </a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slate_wrapper">
                    <div class="poster">
                        <a href="/title/tt1365519/mediaviewer/rm567498240?ref_=tt_ov_i"> <img
                            alt="{{movieDetails.primaryTitle}}"
                            title="{{movieDetails.primaryTitle}}"
                            src="{{movieDetails.image}}"
                            itemprop="image">
                        </a></div>
                    <div class="slate">
                        <a href="{{movieDetails.trailer}}"
                           class="slate_button prevent-ad-overlay video-modal" data-type="recommends"
                           itemprop="trailer">
                            <img *ngIf="movieDetails.imageTrailer!=null" alt="Trailer" title="Trailer"
                                 src="{{movieDetails.imageTrailer}}"
                                 itemprop="image">
                            <img *ngIf="movieDetails.imageTrailer==null" alt="Trailer" title="Trailer"
                                 src="/assets/images/trailer.jpg"
                                 itemprop="image">
                            <div class="slate_fade_top"></div>
                            <div class="slate_fade_bottom"></div>
                        </a>
                        <div class="caption">
                            <div style="clear: both;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
            <div class="article" id="titleCast">
                <h2 class="h_custom">{{'Cast' | translate}}</h2>

                <table class="cast_list">
                    <tbody>
                    <tr class="odd" *ngFor="let artist of artistItems">
                        <td class="primary_photo">
                            <a [routerLink]="['/layout/artist']" [queryParams]="{nconst: artist.nconst}">
                                <img *ngIf="artist.image!=null" alt="{{artist.name}}" title="{{artist.name}}"
                                src="{{artist.image}}"
                                class="loadlate" width="32" height="44">
                                <img *ngIf="artist.image==null" alt="{{artist.name}}" title="{{artist.name}}"
                                 src="/assets/images/artist-icon.png"
                                 class="loadlate" width="32" height="44">
                            </a>
                        </td>
                        <td class="itemprop" itemprop="actor" itemscope="" itemtype="http://schema.org/Person">
                            <a [routerLink]="['/layout/artist']" [queryParams]="{nconst: artist.nconst}" itemprop="url">
                                <span class="itemprop">{{artist.name}}</span>
                            </a></td>
                        <td class="ellipsis">
                            ...
                        </td>
                        <td class="character">
                            <div>
                                <a href="">{{artist.characters}}</a>


                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="see-more">
                    <a href="fullcredits?ref_=tt_cl_sm#cast">See full cast</a>&nbsp;»
                </div>
            </div>
            <div class="article" id="titleStoryLine">
                <h2 class="h_custom">{{'Storyline'|translate}}</h2>
                <div class="inline canwrap" itemprop="description">
                    <p>
                        {{movieDetails.storyline}}
                    </p>
                </div>

                <span class="see-more inline">
                <a href="/title/tt1365519/plotsummary?ref_=tt_stry_pl">Plot Summary</a>
    <span>|</span>
        <a href="/title/tt1365519/synopsis?ref_=tt_stry_pl">Plot Synopsis</a>
    </span>
                <hr>
                <div class="see-more inline canwrap" itemprop="keywords">
                    <h4 class="inline h_custom">{{'Plot Keywords'|translate}}:</h4>
                    <a href="/keyword/lara-croft?ref_=tt_stry_kw"> <span class="itemprop"
                                                                         itemprop="keywords">lara croft</span></a>
                    <span>|</span>
                    <a href="/keyword/action-heroine?ref_=tt_stry_kw"> <span class="itemprop" itemprop="keywords">action heroine</span></a>
                    <span>|</span>
                    <a href="/keyword/female-protagonist?ref_=tt_stry_kw"> <span class="itemprop" itemprop="keywords">female protagonist</span></a>
                    <span>|</span>
                    <a href="/keyword/re-boot?ref_=tt_stry_kw"> <span class="itemprop"
                                                                      itemprop="keywords">re boot</span></a>
                    <span>|</span>
                    <a href="/keyword/based-on-video-game?ref_=tt_stry_kw"> <span class="itemprop" itemprop="keywords">based on video game</span></a>
                    <span>|</span>&nbsp;

                </div>
                <hr>
                <hr>
                <div class="see-more inline canwrap" itemprop="genre">
                    <h4 class="inline h_custom">{{'Genres'|translate}}:</h4>
                    <a [routerLink]="['/layout/movie-type']" *ngFor="let genre of genres"> {{genre}} |</a>
                </div>

                <hr>

                <div class="txt-block">
                    <h4>Motion Picture Rating
                        (<a href="/mpaa?ref_=tt_stry_pg">MPAA</a>)
                    </h4>
                    <span itemprop="contentRating">Rated PG-13 for sequences of violence and action, and for some language</span>
                    <span class="ghost">|</span> <span class="see-more inline">
<a href="/title/tt1365519/parentalguide?ref_=tt_stry_pg#certification"> See all certifications</a>&nbsp;»
            </span>
                </div>
                <div class="txt-block">
                    <h4 class="inline">Parents Guide:</h4>
                    <span class="see-more inline" itemprop="audience" itemscope=""
                          itemtype="http://schema.org/Audience">
<a href="/title/tt1365519/parentalguide?ref_=tt_stry_pg" itemprop="url"> View content advisory</a>&nbsp;»
        </span>
                </div>
            </div>
            <app-comment></app-comment>
        </div>
        <div class="col-md-3 pull-right" style="height: 700px;">
            <app-sidebar></app-sidebar>
        </div>
    </section>
</div>
